../documents/meeting_notes/.~lock.8_15_14.docx#
documents/WebsiteDesign.docx
documents/technicalSpecifications.docx
~*
documents/*~
documents/.~lock.backendLookup.docx#
documents/.~lock.clarification_needed.docx#
documents/.~lock.technical_specifications_phase2.docx#
documents/Fourth_Branch_Website_Design.docx
documents/technical_specifications_phase2.docx
frontend/cgi-bin/#*
backend/#*
backend/.#*
backend/*~
backend/tmp*
documents/.~*
documents/Resources.docx
*.DS_Store
