~*
documents/.~lock.backendLookup.docx#
documents/.~lock.clarification_needed.docx#
documents/.~lock.technical_specifications_phase2.docx#
documents/Fourth_Branch_Website_Design.docx
documents/technical_specifications_phase2.docx
frontend/cgi-bin/#*
backend/#*
backend/.#*
backend/*~
backend/tmp.pl
documents/.~*
documents/Resources.docx
