$font-stack: Verdana, Geneva, sans-serif;
$blue: #2976cb;
$darkBlue: #0a2b95;
$red: #C20000;
@mixin link($color:white) {
    color: $color;
    text-decoration: none;
}
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin transition($type){
	transition: $type .2s ease-out;
	moz-transition: $type .2s ease-out;
	o-transition: $type .2s ease-out;
	webkit-transition: $type .2s ease-out;
}

@mixin box-shadow($top:0, $left:0, $blur:5px, $color:black, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin letterpress($innerOpacity:.7, $outerOpacity: .35) {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, $innerOpacity), 0 1px 0 rgba(255, 255, 255, $outerOpacity);
}
@mixin box-emboss($outerOpacity, $innerOpacity) {
  box-shadow:
    rgba(white, $outerOpacity) 0 1px 0, 
    rgba(black, $innerOpacity) 0 1px 0 inset;
}

@mixin colorBorder {
  position: relative;
  border-left: 1px solid $blue;
  border-right: 1px solid $red;
	&:before, &:after {
	  content: "";
	  position: absolute;
	  right: -1px;
	  left: -1px;
	  height: 1px;
	  background-image: -webkit-gradient(linear, 0 0, 100% 0, from($blue), to($red));
	  background-image: -webkit-linear-gradient(left, $blue, $red);
	  background-image: -moz-linear-gradient(left, $blue, $red);
	  background-image: -o-linear-gradient(left, $blue, $red);
	
	  
	}
	&:before {
	  	top:-1px;
	}
	&:after {
		bottom:-1px;
	}
}

/* General Styling */

body, html {
	padding:0;
	font-family: $font-stack;
	margin:0;
}
h1 {
	@include font-size(40px);
	color: $red;
	font-weight: bold;
}
h2 {
	@include font-size(36px);
	color:white;
	font-weight: bold;
}
h3 {	
	@include font-size(30px);
	color: $red;
	font-weight: bold;
}
h4 {
	@include font-size(18px);
	color: black;
	font-weight:bold;
}
h5 {
	@include font-size(16px);
	color:black;
	font-weight: bold;
}
h6 {
	@include font-size(12px);
	font-weight: bold;
}
a {
	@include link;
	border:none;
}
ul {
	list-style-type: none;
	overflow:hidden;
	margin:0;
	padding:0;
	li {
		display:block;
		text-decoration:none;
		width:120px;
		padding-right:5px;
		label, input, button, a {
			float:left;
			display:inline-block;
		}
	}
}
table {
	color: inherit;
}

#bodyWrap {
	width:90%;
	max-width:1080px;
	margin-right:auto;
	margin-left:auto;
}
.clearLeft {
zoom: 1;
}
.clearLeft:after {	
clear: left;
content: ".";
display: block;
font-size: 0;
height: 0;
line-height: 0;
visibility: hidden;
}

.clearfix {
zoom: 1;
}
.clearfix:after {
clear: both;
content: ".";
display: block;
font-size: 0;
height: 0;
line-height: 0;
visibility: hidden;
}
button {
    background:none!important;
     border:none; 
     padding:0!important;
     cursor: pointer;
     color:white;
     outline: none;
}

.seal:before {
	content: url('../images/seal.png');
	margin-right:5px;
}

/* table login settings */
table {
	padding-right:10px;
	tr {
	vertical-align: top;
	font-size:11px;
		 td {
			padding: 0 0 0 14px;
			text-align:left;
			vertical-align:middle;
			label {
				padding-left:1px;
			}
		}
	}
}
.inputtext {
border: 1px solid #bdc7d8;
margin: 0;
padding: 3px;
-webkit-appearance: none;
-webkit-border-radius: 0;
border-color: #1d2a5b;
margin: 0;
width: 142px;
padding-bottom:4px;
}
.uiInputLabel {
position: relative;
}
.uiInputLabelInput {
margin: 0;
padding: 0;
position: absolute;
}
.uiInputLabel .uiInputLabelLabel {
display: inline-block;
margin-left: 17px;
vertical-align: baseline;
}
.html7magic {
	padding-bottom:4px;
}
/* Header */

#siteHeader {
	height: 183px;
	background: $darkBlue;
	@include box-shadow();
}
#extraNav {
	height: 19px;
	height:1.2rem;
	padding: 1px 7px;
	float:left;
	margin:0;
	color:white;
	background-color:$blue;
	text-align:center;
	a {
		@include font-size(14px);
		@include link(white);

	}
}
.headerLogin {
	padding-top:5px;
	display:inline-block;
	color:white;
	@include font-size(14px);
	float:right;
}
#logo {
	max-width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	img {
		padding-top:10px;
	}
}
#mainNav {
	background-color:$red;
	@include box-shadow;
	line-height: 30px;
	margin-top:20px;
	text-align:center;
	a {
		@include letterpress(.5);
		padding: 0 15px;
		@include font-size(16px);
		text-transform: uppercase;
		font-weight:bold;
		@include transition(text-shadow);
		&:hover {
			text-shadow: 0 2px 0 rgba(0,0,0,1);
		}
	}
}

/* News Of The Day */

#newsOfTheDay {
	display: inline-block;
	float: right;
	margin-right: 2%;
	text-align: center;
	border-bottom: black 1px solid;
	padding-bottom:20px;
	width: 14.7%;
	img {
		max-width:100%;
		height:auto;
	}
	h4 {
		text-transform: uppercase;
		padding-bottom:5px;
		margin-bottom:10px;
		border-bottom: black 1px solid;
	}
	p {
		margin-bottom:.5rem;
	}
}

/* Bill of the Day */

.billOfTheDay {
	width:74%;
	h1 {
		margin:3% 0;
	}
	.bill {
		margin-left:7%;
		width: 77%;
		border-radius: 10px;
		padding: 1%;
	}
	.billTitle {
		h4 {
			margin-bottom:0;
			position:relative;
			padding-bottom : 5px;
			float:left;
			border-bottom:1px solid black;
		}
		span {
			color: $darkBlue;
			@include font-size(14px);
			clear:left;
			display:block;
		}
		.billDescription {
			margin:1%;
		}
	}
	.postNavigation {
		text-align:right;
		@include font-size(12px);
		transform:color;
		cursor:pointer;
			a{
			color:$blue;
			&:hover {
				color: $darkBlue;
			}
		}
	}
	.postInfo {
		text-align: right;
		color: lighten(black, 50%);
		@include font-size(14px);
		margin-bottom:1%;
		.postAuthor, .timeStamp {
			display:block;
		}
	}
}
.voteUser {
	@include colorBorder;
	font-weight:bold;
	display:inline-block;
	left:60%;
	padding:1%;
	@include box-shadow;
	@include font-size(18px);
	input[type="radio"] {
    display:none;
	}
	label span {
	    display:inline-block;
	    background:url('../images/checkboxBlue.png') left top no-repeat;
	    width:17px;
	    height:17px;
	    margin:-1px 0 0 4px;
	    vertical-align:middle;
	    cursor:pointer;
	}
	.votePass:checked + label span {
	    background: url("../images/checkboxBlue.png") 0 -18px no-repeat;
		width: 22px;
		height: 22px;
	}
	.voteReject:checked + label span {
	    background:url('../images/checkboxRed.png') 0 -18px no-repeat;
		height:22px;
		width:22px;
	}
}
