$font-stack: Verdana, Geneva, sans-serif;
$blue: #2976cb;
$darkBlue: #0a2b95;
$red: #C20000;
$third: (100/3)*1%;
@mixin link($color:white) {
    color: $color;
    text-decoration: none;
}
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin flexCenter($direction:row, $wrap:wrap) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: center;
	align-items: center;	    
}

@mixin buttonBackground($color) {
	background-color: $color;
	@include box-shadow(0,0,2px,black,true);
}

@mixin transition($type){
	transition: $type .2s ease-out;
	moz-transition: $type .2s ease-out;
	o-transition: $type .2s ease-out;
	webkit-transition: $type .2s ease-out;
}

@mixin box-shadow($top:0, $left:0, $blur:5px, $color:black, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin letterpress($innerOpacity:.7, $outerOpacity: .35) {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, $innerOpacity), 0 1px 0 rgba(255, 255, 255, $outerOpacity);
}
@mixin box-emboss($outerOpacity, $innerOpacity) {
  box-shadow:
    rgba(white, $outerOpacity) 0 1px 0, 
    rgba(black, $innerOpacity) 0 1px 0 inset;
}

@mixin colorBorder {
  position: relative;
  border-left: 1px solid $blue;
  border-right: 1px solid $red;
	&:before, &:after {
	  content: "";
	  position: absolute;
	  right: -1px;
	  left: -1px;
	  height: 1px;
	  background-image: -webkit-gradient(linear, 0 0, 100% 0, from($blue), to($red));
	  background-image: -webkit-linear-gradient(left, $blue, $red);
	  background-image: -moz-linear-gradient(left, $blue, $red);
	  background-image: -o-linear-gradient(left, $blue, $red);	  
	}
	&:before {
	  	top:-1px;
	}
	&:after {
		bottom:-1px;
	}
}

@mixin colorGradient {
	background: #2976cb; /* Old browsers */
	background: -moz-linear-gradient(left,  #2976cb 0%, #c20000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2976cb), color-stop(100%,#c20000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #2976cb 0%,#c20000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #2976cb 0%,#c20000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #2976cb 0%,#c20000 100%); /* IE10+ */
	background: linear-gradient(to right,  #2976cb 0%,#c20000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2976cb', endColorstr='#c20000',GradientType=1 ); /* IE6-9 */

}

/* General Styling */

body, html {
	padding:0;
	font-family: $font-stack;
	margin:0;
}
h1 {
	@include font-size(40px);
	color: $red;
	font-weight: bold;
}
h2 {
	@include font-size(36px);
	color:white;
	font-weight: bold;
}
h3 {	
	@include font-size(30px);
	color: $red;
	font-weight: bold;
}
h4 {
	@include font-size(18px);
	color: black;
	font-weight:bold;
}
h5 {
	@include font-size(16px);
	color:black;
	font-weight: bold;
}
h6 {
	@include font-size(12px);
	font-weight: bold;
}
a {
	@include link;
	border:none;
}	
hr {
    width:50%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border: 0;
    height: 1px;
    background: #333;
    margin-bottom:40px;
}
ul {
	list-style-type: none;
	overflow:hidden;
	margin:0;
	padding:0;
	li {
		display:block;
		text-decoration:none;
		width:120px;
		padding-right:5px;
		label, input, button, a {
			float:left;
			display:inline-block;
		}
	}
}
table {
	color: inherit;
}
.indent {
	margin: 0 20px;
}
.textLeft {
	text-align: left;
}
.textRight {
	text-align: right;
}
.bodyWrap {
	width:90%;
	max-width:1080px;
	margin-right:auto;
	margin-left:auto;
}
.right {
	float:right;
}
.clearLeft {
zoom: 1;
}
.clearLeft:after {	
clear: left;
content: ".";
display: block;
font-size: 0;
height: 0;
line-height: 0;
visibility: hidden;
}
.full {
    width:100%;
    clear:both;
    display:inline-block;
}
.mapSize {
	@include flexCenter(column);
	.mapCenter {
		width:74%;
	}
}
.clearfix {
zoom: 1;
}
.clearfix:after {
clear: both;
content: ".";
display: block;
font-size: 0;
height: 0;
line-height: 0;
visibility: hidden;
}
.clearblock:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearblock {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearblock {height: 1%;}
.clearblock {display: block;}
/* End hide from IE-mac */
button {
     border:none; 
     padding:0;
     cursor: pointer;
     color:white;
     outline: none;
}

.seal:before {
	content: url('../images/seal.png');
	margin-right:5px;
}
.fullWidth {
	width:100%;
	border-top:1px solid black;
	@include box-shadow;
	padding-bottom:20px;
}
.blue {
	background-color: $blue;
}
.blueButton {
	background-color: $blue;
	color: #FFFFFF;
	padding:5px;
	text-align: center;
	@include font-size(14px);
	&:hover {
		@include box-shadow(0,0,5px,white,true);
	}
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 4%;
}
.col2 {
	display: block;
	float:left;
	margin: 1% 0 1% 2%;
}
.first-child { margin-left: 0; }
.floatRight {
	float:right;
}

/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
                                               
					
/*  GRID OF FOUR  */
.span_5_of_5 {
	width: 100%;
}
.span_4_of_5 {
  	width: 79.2%; 
}
.span_3_of_5 {
  	width: 59.36%; 
}
.span_2_of_5 {
  	width: 36.8%;
}
.span_1_of_5 {
  	width: 16.8%;
}
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74%;
}
.span_2_of_4 {
	width: 48%;
}
.span_1_of_4 {
	width: 22%;
}
.span_1_of_3 {
	width: 32%;
}
.span_2_of_3 {
	width: 64%;
}
.span_3_of_3 {
	width: 100%;
}
.span_1_of_2 {
	width: 48%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_4_of_4 {
		width: 100%; 
	}
	.span_3_of_4 {
		width: 100%; 
	}
	.span_2_of_4 {
		width: 100%; 
	}
	.span_1_of_4 {
		width: 50%;
	}
	.span_1_of_3 {
		width: 100%;
	}
	.span_2_of_3 {
		width: 100%;
	}
	.span_5_of_5 {
		width: 100%; 
	}
	.span_4_of_5 {
		width: 100%; 
	}
	.span_3_of_5 {
		width: 100%; 
	}
	.span_2_of_5 {
		width: 100%; 
	}
	.span_1_of_5 {
		width: 100%; 
	}
	.span_1_of_2 {
		width:100%;
	}
}
.columnBottom {
	display:flex;
	flex-direction: column;
	justify-content:flex-end;
}
.centered {
	@include flexCenter(column);
	.blueButton {
		padding: 10px 20px;
		@include font-size(16px);
	}
}
/* table login settings */
table {
	padding-right:10px;
	tr {
	vertical-align: top;
	font-size:11px;
		 td {
			padding: 0 0 0 14px;
			text-align:left;
			vertical-align:middle;
			label {
				padding-left:1px;
			}
		}
	}
}
.inputtext {
border: 1px solid #bdc7d8;
margin: 0;
padding: 3px;
-webkit-appearance: none;
-webkit-border-radius: 0;
border-color: #1d2a5b;
margin: 0;
width: 142px;
padding-bottom:4px;
}
.uiInputLabel {
position: relative;
}
.uiInputLabelInput {
margin: 0;
padding: 0;
position: absolute;
}
.uiInputLabel .uiInputLabelLabel {
display: inline-block;
margin-left: 17px;
vertical-align: baseline;
}
.html7magic {
	padding-bottom:4px;
}
.linkButton {
	background-color:transparent;
}

/* LOGIN MODAL */

.double-border {
    background-color: white;
    border: 4px solid #CC0000;
    position: relative;
    .button {
    	background-color: $blue;
		color: #FFFFFF;
		padding-top:5px;
		padding-bottom:5px;	
		text-align: center;
	}
}
.double-border:before {
    background: none;
    border: 4px solid #2F68D1;
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    pointer-events: none;
}
body.overlaid {
    -ms-user-select: none;
   	-webkit-user-select: none;
   	-moz-user-select: none;
   	user-select: none;
	}
	body.overlaid div.overlay {
        -o-transform: translateY(0);
   	    -webkit-transform: translateY(0);
   	    -moz-transform: translateY(0);
        -ms-transform: translateY(0);
   	    transform: translateY(0);
	}
div.overlay {    
    -o-transform: translateY(-50000px);  
    -webkit-transform: translateY(-50000px);
    -moz-transform: translateY(-50000px);
    -ms-transform: translateY(-50000px);
    transform: translateY(-50000px);
     z-index:9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    -webkit-user-select: auto;
    -ms-user-select: auto;
    -moz-user-select: auto;
    user-select: auto;
}
div.overlay > div.wrap-outer {
    position: relative;
    width: 100%;
    height: 100%;
    display: -ms-box;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -ms-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -ms-box-align: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -ms-box-pack: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
}
  div.overlay > div.wrap-outer > div.wrap {
        display: -ms-box;
      	display: -webkit-box;
      	display: -moz-box;
      	display: box;
        -ms-box-orient: vertical;  
      	-webkit-box-orient: vertical;
      	-moz-box-orient: vertical;
      	box-orient: vertical;
        -ms-box-align: stretch;
      	-webkit-box-align: stretch;
      	-moz-box-align: stretch;
      	box-align: stretch;
        -ms-box-pack: center;
      	-webkit-box-pack: center;
      	-moz-box-pack: center;
      	box-pack: center;
      	margin-left:-650px;
      	margin-top:50px;
      }
  div.overlay > div.wrap-outer > div.wrap > * {
            -ms-box-flex: 0;
        	-webkit-box-flex: 0;
        	-moz-box-flex: 0;
        	box-flex: 0;
        	display: block;
        }

tbody tr td div form {
    margin-bottom:4px;
}

form {
	div {
		display:inline-block;
		@include font-size(14px);
		p {
			@include font-size(16px);
		}

		input, input[type="password" i], input[type="search" i] {
			border: 1px dotted grey;
			border-radius: 3px;
		}
		.error {
			color: $red;
			display:inline-block;
			border-color:$red;
			border-style:solid;
			border-width:1px;
		}
	}
	.left {
	    width:250px;
	    text-align:right;
		padding-bottom:7px;
	}
	.full {
	    width:100%;
	    text-align:right;
	    clear:both;
	    display:inline-block;
	    vertical-align:top;
		padding-bottom:7px;
		i {
		 font-size:.8em;  
		 vertical-align:top;
		}
	}
}
textarea#reason {
    resize: none;
    background-color:white;
}

/* Header */

#siteHeader {
	height: 183px;
	background: $darkBlue;
	@include box-shadow();
}
#extraNav {
	height: 19px;
	height:1.2rem;
	padding: 1px 7px;
	float:left;
	margin:0;
	color:white;
	background-color:$blue;
	text-align:center;
	a {
		@include font-size(14px);
		@include link(white);

	}
}
.headerLogin {
	padding-top:5px;
	display:inline-block;
	color:white;
	@include font-size(14px);
	float:right;
}
#logo {
	max-width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	img {
		padding-top:10px;
	}
}
#mainNav {
	background-color:$red;
	@include box-shadow;
	line-height: 30px;
	margin-top:20px;
	text-align:center;
	a {
		@include letterpress(.5);
		padding: 0 15px;
		@include font-size(16px);
		text-transform: uppercase;
		font-weight:bold;
		@include transition(text-shadow);
		&:hover {
			text-shadow: 0 2px 0 rgba(0,0,0,1);
		}
	}
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
	text-decoration: none;
	color: #fff;
	background-color: $red;
	text-align: center;
	padding: 10px 0;
	display: none;
	font-size: 16px;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;
}

/*Hide checkbox*/
.menucheckbox input[type=checkbox] {
    display: none;
}

/*Show menu when invisible checkbox is checked*/
.menucheckbox input[type=checkbox]:checked ~ #mainNav {
    display: block;
}

/* News Of The Day */

#newsOfTheDay {
	display: inline-block;
	float: right;
	margin-right: 2%;
	text-align: center;
	border-bottom: black 1px solid;
	padding-bottom:20px;
	width: 14.7%;
	img {
		max-width:100%;
		height:auto;
	}
	h4 {
		text-transform: uppercase;
		padding-bottom:5px;
		margin-bottom:10px;
		border-bottom: black 1px solid;
		color: $red;
	}
	p {
		margin-bottom:.5rem;
	}
	.notdLinks {
		padding-bottom:10px;
	}
}

/* Bill of the Day */

.billOfTheDay {
	width:74%;
	margin-bottom:30px;
	h1 {
		text-align:center;
		margin:3% 0;
	}
}
.bill {
	margin-left:7%;
	width: 77%;
	padding: 1%;
}
.billTitle {
	h4 {
		margin-bottom:15px;
		position:relative;
		padding-bottom : 5px;
		float:left;
		border-bottom:1px solid black;
	}
	span {
		color: $darkBlue;
		@include font-size(14px);
		clear:left;
		display:block;
	}
	.billDescription {
		margin:1%;
	}
}
.postNavigation {
	text-align:right;
	@include font-size(12px);
	text-transformm:color;
	cursor:pointer;
		a{
		color:$blue;
		&:hover {
			color: $darkBlue;
		}
	}
}
.postInfo {
	text-align: right;
	color: lighten(black, 50%);
	@include font-size(14px);
	margin-bottom:20px;
	.postAuthor, .timeStamp {
		display:block;
	}
}
.voteUser {
	@include colorBorder;
	font-weight:bold;
	display:inline-block;
	left:60%;
	padding:1%;
	@include box-shadow;
	@include font-size(18px);
	input[type="radio"] {
    display:none;
    margin-top:15px;
	}
}

.hasRadio label span {
    display:inline-block;
    background:url('../images/checkboxBlue.png') left top no-repeat;
    width:17px;
    height:17px;
    margin:-1px 0 0 4px;
    vertical-align:middle;
    cursor:pointer;
}
input[type="radio"] {
display:none;
margin-top:15px;
}
.votePass:checked + label span {
    background: url("../images/checkboxBlue.png") 0 -18px no-repeat;
	width: 22px;
	height: 22px;
}
.voteReject:checked + label span {
    background:url('../images/checkboxRed.png') 0 -18px no-repeat;
	height:22px;
	width:22px;
}
.share-buttons {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:78.9%;
	padding-bottom: 30px;
	form {
		display:inline;
	}
}
.shareButton {
	width:100px;
	height:30px;
	@include font-size(14px);
	&:hover {
		@include box-shadow(0,0,5px,white,true);
	}
}
.linkedin {
	@include buttonBackground(#336699);
}
.twitter {
	@include buttonBackground(#0099ff);
}
.google {
	@include buttonBackground(#ff3333);
}
.facebook {
	@include buttonBackground(#003399);
}
.reddit {
	@include buttonBackground(#ff9900);
}
.comment {
	@include buttonBackground(black);
}

.billDetails {
	padding-top:20px;
	.share-buttons {
		padding-top:20px;
	}
}
.billMapContainer {
	@include box-shadow;
	width: 100%;
	position:relative;
	h3 {
		margin-bottom: 20px;
		float: left;
		width: 32%;
		text-align: center;
	}
	.billMap {
		position:relative;
		float:right;
		width:65%;
		margin: 20px 0.5% 0 1.5%;
		max-height:100%;
		img {
			max-height:100%;
			max-width:100%;
		}
		.passRejectSection {
			right: 5%;
			position: absolute;
			bottom: 0;
			width: 50%;
			.passRejectBar {
				@include colorGradient;
				right: 5%;
				color: white;
				border: 2px solid black;
				padding: 0px 3px;
			}
			.percentages {
				@include font-size(14px);
			}
		}
	}
	.billMapStatistics {
		width:32%;
		float:right;
		li{
			color:white;
			font-weight:bold;
			text-align: center;
			padding: 5px;
			width: 50%;
			margin: 0 0 5px 20%;
			cursor: pointer;
			transition: color 1.7s;
			transition: background-color .3s;
			@include buttonBackground(black);
			box-shadow:none;
			&:hover {
				color:black;
				background-color:white;
			}
		}
		#stateMap {
			width: 53%;
			margin: 15px 0 5px 20%;	
		}
	}
}

/* Trending Comments */
.trendingComments {
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:30px;	
}
.trendingCommentsBox {
	box-shadow:inset 0 0 1px black;
	transition:box-shadow;
	.trendingCommentsBoxDesc {
		height:230px;
		position:relative;
		overflow:hidden;
		&:hover {
			box-shadow:inset 0 0 5px black;
			cursor: pointer;
		}
		.trendingCommentsBoxText {
			position:absolute;
			top:0;
			left:0;
		}
		.trendingCommentsBoxImage {
			position:absolute;
			z-index:2;
			top:230px;
			width:100%;
			max-height:100%;
			img {
				max-height:100%;
			}
		}
	}
	span {
		@include font-size(12px);
		text-indent: 5px;
		display:inline-block;
		padding:5px;
	}
	.trendingCommentsBoxUser {
		@include font-size(14px);
		text-align:center;
		box-shadow:inset 0 0 1px black;
		width:100%;
		display:block;
		padding:5px 0;
		&:hover {
			cursor:pointer;
		}
	}
}

.addComment {
	box-shadow:inset 0 0 1px black;
	margin-bottom:0;
	textarea {
		resize:none;
		height: 230px;
		text-align:left;
		width:100%;
		margin:0;
		padding:0;
		border:none;
		background:transparent;
	    outline:0px !important;
    	-webkit-appearance:none;
	}
	.submit {
		text-align:center;
		box-shadow:inset 0 0 1px black;
		width:100%;
		display:block;
		padding:5px 0;
	}
}
/* TOMORROW'S BILL */
.tomorrowsBill {
	.tomorrowsBillBox, .tomorrowsBillParticipateBox {
		background-color: white;
		@include box-shadow;
	}
	.tomorrowsBillTitle {
		h4 {
			margin: 15px;
			border-bottom: black solid 1px;
			padding-bottom: 2px;
		}
	}
	.tomorrowsBillBox {
		p {
			margin:15px;
		}
	}
	.tomorrowsBillParticipateBox {
		@include transition(box-shadow);
		&:hover {
			@include box-shadow(0, 0, 15px);
			cursor:pointer;
		}
		.button {
			background-color: #2F68D1;
			color: #FFFFFF;
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: center;
			width: 120px;
			position: relative;
			left: 50%;
			margin-left: -60px;
			font-size: 1.2em;
		}
		.tomorrowsBillParticipateTitle {
			height: 61px;
			border-bottom: 1px solid black;
			h4 {
				@include font-size(24px);
				margin:0;
				text-align:center;
				line-height: 61px;
			}
		}
		p {
			margin:15px;
			text-align:center;
		}
	}
}

/* FOOTER */
footer {
	background-color: #e65341;
	@include box-shadow;
	a {
		color:black;
		@include transition(text-shadow);
		&:hover {
			text-shadow: 0 1px 0 rgba(0,0,0,1);
			cursor: pointer;
		}
	}
	p {
		display:inline-block;
		margin-left: 5%;
		margin-right:5%;
		@include font-size(12px);
	}
	.slogan {
		float:right;
	}
}

/* VOTE PAGE */
.votePage {

	.voteSearch {
		width:100%;
		.searchBox {
			width:100%;
			height:200px;
			@include colorBorder;
			@include flexCenter(column, nowrap);
		}
		input[type="radio"] {
			display:none;
		}
		.searchKeywords {
			text-align: center;
			display:block;
		}
		.searchSortBy {
			display:block;
			h4 {
				display:inline-block;
			}
			.button {
				cursor:pointer;
				&:hover {
					@include box-shadow(0,0,5px,white,true);
				}
				&:active {
					background-color: $red;
				}
			}
		}
	    .button {
	    	background-color: $blue;
			color: #FFFFFF;
			padding:5px;
			text-align: center;
		}
	}

	.bill {
		width:auto;
		margin-left:0;
		margin-bottom: 20px;
		border-bottom: 1px solid black;
		&:last-child {
			border-bottom:none;
		}
		p {
			font-size:.95em;
			text-indent:20px;
		}
	}
	.postInfo {
		margin-bottom: 15px;
	}
	.voteUserBox {
		@include flexCenter;
		.voteUser {
			left:auto;
		}
	}
	.share-buttons {
		text-align:center;
		width:auto;
	}
}

/* PROPOSAL PAGE */
.proposalPage {
	.introductionDesc {
		position:relative;
		.blueButton {
			position:absolute;
			bottom:0;
			right:0;
		}
	}
	hr {
		margin-top:50px;
	}
}
.proposalList {
	text-align:center;
	.proposalListItem {
		@include box-shadow(0,0,1px);
		cursor:pointer;
		&:hover {
			@include box-shadow;
		}
		.blueButton {
			width:100%;
			display:block;
			clear:both;
			margin-bottom:0;
		}
	}
	.proposalListTitle {
		@include flexCenter(column);
		height:100px;
		border-bottom:1px solid black;
	}
	.proposalListDetails {
		@include font-size(14px);
		div {
			width: $third;
			float:left;
			margin:1% 0;
		}
	}
}
.proposalListMore {
	margin:30px 0;
	display:inline-block;
}
.proposal1 {
	@include colorBorder;
	@include box-shadow;
	padding:20px;
	margin: 0 10px 20px;
    label{ float: left; }
    legend {
    	clear:both;
    }
    .medText{
    	@include font-size(20px);
    	margin: 1em 0;
    }
    fieldset {
    	border:0;
    	label {
    		float:none;
    	}
    }
    span
    {
        display: block;
        overflow: hidden;
        padding-right: 5px;
        padding-left: 10px;
    }
    .blueButton {
    	position:absolute;
    	right:20px;
    	bottom:10px;
    }
    input[type="text"] {
    	@include font-size(20px);
    }
    span > input{ width: 100%; }
    .nofloat {
    	float:none;
    }
    .largeText {
    	@include font-size(24px);
    	font-weight: bold;
    }
}	
.proposal3 {
	position:relative;
	.proposal1 {
		margin:0;
		width:95%;
		resize:none;
	}
	.step3 {
		margin:0 0 10px;
		width:100%;
	}
	.blueButton {
		float:right;
	}
}
.newsPage {
	.newsItem {
		height:250px;
		position:relative;
		text-align:center;
		cursor:pointer;
		background-size:cover;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
		filter: gray; /* IE 6-9 */;
		&:hover {
			-webkit-filter: grayscale(0%);
			-moz-filter: grayscale(0%);
			-ms-filter: grayscale(0%);
			-o-filter: grayscale(0%);
			filter: grayscale(0%);
			filter: color;
		}
		&:after {
			content:attr(headline);
			position:absolute;
			bottom:0px;
			display:none;
			width:100%;
			padding:10px 0;
			background-color:rgba(0,0,0,.6);
			color:white;
			text-align:center;
		}
		&:hover:after {
			display:block;
		}
		a {
			@include flexCenter(column);
		}
	}
	h4 {
		margin-bottom:.5em;
		color: $blue;
	}
	text-align:center;
	margin-bottom:40px;
}
.newsPage {
	.newsItem {
    height: 300px;
    width: 100%;
    overflow: hidden;
    	img {
	    display: block;
		}
	}
	.portrait img {
	    width: 100%;
	}
	.landscape img {
	    height: 300px;
	}
}
.contributePage {
	.user {
		text-align:center;
	}
	a, h4 {
		color:black;
	}
	.span_1_of_3 {

	}
}
.comments {
	li {
		display:inline-block;
	}
	.commentSingle {
		width:80%;
		.first-child img {
			max-width:100%;
		}
	}
}
@media only screen and (max-width: 960px) {
	#newsOfTheDay {
		display:none;
	}
	.billOfTheDay {
		width: auto;
	}
}
@media only screen and (max-width: 688px) {
	#logo img {
		max-width:100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
	#siteHeader {
		height:auto;
	}
	#mainNav {
		display:none;
		margin-top: 0px;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	/*Make all menu links full width*/
	#mainNav a {
		width: 100%;
		margin-bottom: 1px;
		display: block;
		padding: 0;
	}
}