/* General Styling */
body, html { padding: 0; font-family: Verdana, Geneva, sans-serif; margin: 0; }

h1 { font-size: 40px; font-size: 2.5rem; color: #c20000; font-weight: bold; }

h2 { font-size: 36px; font-size: 2.25rem; color: white; font-weight: bold; }

h3 { font-size: 30px; font-size: 1.875rem; color: #c20000; font-weight: bold; }

h4 { font-size: 18px; font-size: 1.125rem; color: black; font-weight: bold; }

h5 { font-size: 16px; font-size: 1rem; color: black; font-weight: bold; }

h6 { font-size: 12px; font-size: 0.75rem; font-weight: bold; }

a { color: white; text-decoration: none; border: none; }

hr { width: 50%; margin-left: auto; margin-right: auto; display: block; border: 0; height: 1px; background: #333; margin-bottom: 40px; }

ul { list-style-type: none; overflow: hidden; margin: 0; padding: 0; }
ul li { display: block; text-decoration: none; width: 120px; padding-right: 5px; }
ul li label, ul li input, ul li button, ul li a { float: left; display: inline-block; }

table { color: inherit; }

.textLeft { text-align: left; }

.textRight { text-align: right; }

.bodyWrap { width: 90%; max-width: 1080px; margin-right: auto; margin-left: auto; }

.right { float: right; }

.clearLeft { zoom: 1; }

.clearLeft:after { clear: left; content: "."; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; }

.full { width: 100%; clear: both; display: inline-block; }

.mapSize { display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; align-items: center; }
.mapSize .mapCenter { width: 74%; }

.clearfix { zoom: 1; }

.clearfix:after { clear: both; content: "."; display: block; font-size: 0; height: 0; line-height: 0; visibility: hidden; }

.clearblock:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.clearblock { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearblock { height: 1%; }

.clearblock { display: block; }

/* End hide from IE-mac */
button { border: none; padding: 0; cursor: pointer; color: white; outline: none; }

.seal:before { content: url("../images/seal.png"); margin-right: 5px; }

.fullWidth { width: 100%; border-top: 1px solid black; -webkit-box-shadow: 0 0 5px black; -moz-box-shadow: 0 0 5px black; box-shadow: 0 0 5px black; padding-bottom: 20px; }

.blue { background-color: #2976cb; }

.blueButton { background-color: #2976cb; color: #FFFFFF; padding: 5px; text-align: center; font-size: 14px; font-size: 0.875rem; }
.blueButton:hover { -webkit-box-shadow: inset 0 0 5px white; -moz-box-shadow: inset 0 0 5px white; box-shadow: inset 0 0 5px white; }

/*  SECTIONS  */
.section { clear: both; padding: 0px; margin: 0px; }

/*  COLUMN SETUP  */
.col { display: block; float: left; margin: 1% 0 1% 4%; }

.col2 { display: block; float: left; margin: 1% 0 1% 2%; }

.first-child { margin-left: 0; }

.floatRight { float: right; }

/*  GROUPING  */
.group:before, .group:after { content: ""; display: table; }

.group:after { clear: both; }

.group { zoom: 1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_5_of_5 { width: 100%; }

.span_4_of_5 { width: 79.68%; }

.span_3_of_5 { width: 59.36%; }

.span_2_of_5 { width: 36.8%; }

.span_1_of_5 { width: 16.8%; }

.span_4_of_4 { width: 100%; }

.span_3_of_4 { width: 74%; }

.span_2_of_4 { width: 48%; }

.span_1_of_4 { width: 22%; }

.span_1_of_3 { width: 32%; }

.span_2_of_3 { width: 64%; }

.span_3_of_3 { width: 100%; }

.span_1_of_2 { width: 48%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) { .col { margin: 1% 0 1% 0%; } }
@media only screen and (max-width: 480px) { .span_4_of_4 { width: 100%; }
  .span_3_of_4 { width: 100%; }
  .span_2_of_4 { width: 100%; }
  .span_1_of_4 { width: 50%; }
  .span_1_of_3 { width: 100%; }
  .span_2_of_3 { width: 100%; }
  .span_5_of_5 { width: 100%; }
  .span_4_of_5 { width: 100%; }
  .span_3_of_5 { width: 100%; }
  .span_2_of_5 { width: 100%; }
  .span_1_of_5 { width: 100%; }
  .span_1_of_2 { width: 100%; } }
.columnBottom { display: flex; flex-direction: column; justify-content: flex-end; }

.centered { display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; align-items: center; }
.centered .blueButton { padding: 10px 20px; font-size: 16px; font-size: 1rem; }

/* table login settings */
table { padding-right: 10px; }
table tr { vertical-align: top; font-size: 11px; }
table tr td { padding: 0 0 0 14px; text-align: left; vertical-align: middle; }
table tr td label { padding-left: 1px; }

.inputtext { border: 1px solid #bdc7d8; margin: 0; padding: 3px; -webkit-appearance: none; -webkit-border-radius: 0; border-color: #1d2a5b; margin: 0; width: 142px; padding-bottom: 4px; }

.uiInputLabel { position: relative; }

.uiInputLabelInput { margin: 0; padding: 0; position: absolute; }

.uiInputLabel .uiInputLabelLabel { display: inline-block; margin-left: 17px; vertical-align: baseline; }

.html7magic { padding-bottom: 4px; }

.linkButton { background-color: transparent; }

/* LOGIN MODAL */
.double-border { background-color: white; border: 4px solid #CC0000; position: relative; }
.double-border .button { background-color: #2976cb; color: #FFFFFF; padding-top: 5px; padding-bottom: 5px; text-align: center; }

.double-border:before { background: none; border: 4px solid #2F68D1; content: ""; display: block; position: absolute; top: 2px; left: 2px; right: 2px; bottom: 2px; pointer-events: none; }

body.overlaid { -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; }

body.overlaid div.overlay { -o-transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }

div.overlay { -o-transform: translateY(-50000px); -webkit-transform: translateY(-50000px); -moz-transform: translateY(-50000px); -ms-transform: translateY(-50000px); transform: translateY(-50000px); z-index: 9999; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0, 0, 0, 0.8); -webkit-user-select: auto; -ms-user-select: auto; -moz-user-select: auto; user-select: auto; }

div.overlay > div.wrap-outer { position: relative; width: 100%; height: 100%; display: -ms-box; display: -webkit-box; display: -moz-box; display: box; -ms-box-orient: horizontal; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal; -ms-box-align: stretch; -webkit-box-align: stretch; -moz-box-align: stretch; box-align: stretch; -ms-box-pack: center; -webkit-box-pack: center; -moz-box-pack: center; box-pack: center; }

div.overlay > div.wrap-outer > div.wrap { display: -ms-box; display: -webkit-box; display: -moz-box; display: box; -ms-box-orient: vertical; -webkit-box-orient: vertical; -moz-box-orient: vertical; box-orient: vertical; -ms-box-align: stretch; -webkit-box-align: stretch; -moz-box-align: stretch; box-align: stretch; -ms-box-pack: center; -webkit-box-pack: center; -moz-box-pack: center; box-pack: center; margin-left: -650px; margin-top: 50px; }

div.overlay > div.wrap-outer > div.wrap > * { -ms-box-flex: 0; -webkit-box-flex: 0; -moz-box-flex: 0; box-flex: 0; display: block; }

tbody tr td div form { margin-bottom: 4px; }

form div { display: inline-block; font-size: 14px; font-size: 0.875rem; }
form div p { font-size: 16px; font-size: 1rem; }
form .left { width: 250px; text-align: right; }
form .full { width: 100%; text-align: right; clear: both; display: inline-block; vertical-align: top; }
form .full i { font-size: .8em; vertical-align: top; }

textarea#reason { resize: none; background-color: white; }

/* Header */
#siteHeader { height: 183px; background: #0a2b95; -webkit-box-shadow: 0 0 5px black; -moz-box-shadow: 0 0 5px black; box-shadow: 0 0 5px black; }

#extraNav { height: 19px; height: 1.2rem; padding: 1px 7px; float: left; margin: 0; color: white; background-color: #2976cb; text-align: center; }
#extraNav a { font-size: 14px; font-size: 0.875rem; color: white; text-decoration: none; }

.headerLogin { padding-top: 5px; display: inline-block; color: white; font-size: 14px; font-size: 0.875rem; float: right; }

#logo { max-width: 100%; height: auto; margin-left: auto; margin-right: auto; width: 600px; }
#logo img { padding-top: 10px; }

#mainNav { background-color: #c20000; -webkit-box-shadow: 0 0 5px black; -moz-box-shadow: 0 0 5px black; box-shadow: 0 0 5px black; line-height: 30px; margin-top: 20px; text-align: center; }
#mainNav a { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.35); padding: 0 15px; font-size: 16px; font-size: 1rem; text-transform: uppercase; font-weight: bold; transition: text-shadow 0.2s ease-out; moz-transition: text-shadow 0.2s ease-out; o-transition: text-shadow 0.2s ease-out; webkit-transition: text-shadow 0.2s ease-out; }
#mainNav a:hover { text-shadow: 0 2px 0 black; }

/* News Of The Day */
#newsOfTheDay { display: inline-block; float: right; margin-right: 2%; text-align: center; border-bottom: black 1px solid; padding-bottom: 20px; width: 14.7%; }
#newsOfTheDay img { max-width: 100%; height: auto; }
#newsOfTheDay h4 { text-transform: uppercase; padding-bottom: 5px; margin-bottom: 10px; border-bottom: black 1px solid; color: #c20000; }
#newsOfTheDay p { margin-bottom: .5rem; }
#newsOfTheDay .notdLinks { padding-bottom: 10px; }

/* Bill of the Day */
.billOfTheDay { width: 74%; margin-bottom: 30px; }
.billOfTheDay h1 { text-align: center; margin: 3% 0; }

.bill { margin-left: 7%; width: 77%; padding: 1%; }

.billTitle h4 { margin-bottom: 15px; position: relative; padding-bottom: 5px; float: left; border-bottom: 1px solid black; }
.billTitle span { color: #0a2b95; font-size: 14px; font-size: 0.875rem; clear: left; display: block; }
.billTitle .billDescription { margin: 1%; }

.postNavigation { text-align: right; font-size: 12px; font-size: 0.75rem; text-transformm: color; cursor: pointer; }
.postNavigation a { color: #2976cb; }
.postNavigation a:hover { color: #0a2b95; }

.postInfo { text-align: right; color: gray; font-size: 14px; font-size: 0.875rem; margin-bottom: 20px; }
.postInfo .postAuthor, .postInfo .timeStamp { display: block; }

.voteUser { position: relative; border-left: 1px solid #2976cb; border-right: 1px solid #c20000; font-weight: bold; display: inline-block; left: 60%; padding: 1%; -webkit-box-shadow: 0 0 5px black; -moz-box-shadow: 0 0 5px black; box-shadow: 0 0 5px black; font-size: 18px; font-size: 1.125rem; }
.voteUser:before, .voteUser:after { content: ""; position: absolute; right: -1px; left: -1px; height: 1px; background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#2976cb), to(#c20000)); background-image: -webkit-linear-gradient(left, #2976cb, #c20000); background-image: -moz-linear-gradient(left, #2976cb, #c20000); background-image: -o-linear-gradient(left, #2976cb, #c20000); }
.voteUser:before { top: -1px; }
.voteUser:after { bottom: -1px; }
.voteUser input[type="radio"] { display: none; margin-top: 15px; }

.hasRadio label span { display: inline-block; background: url("../images/checkboxBlue.png") left top no-repeat; width: 17px; height: 17px; margin: -1px 0 0 4px; vertical-align: middle; cursor: pointer; }

input[type="radio"] { display: none; margin-top: 15px; }

.votePass:checked + label span { background: url("../images/checkboxBlue.png") 0 -18px no-repeat; width: 22px; height: 22px; }

.voteReject:checked + label span { background: url("../images/checkboxRed.png") 0 -18px no-repeat; height: 22px; width: 22px; }

.share-buttons { display: block; margin-left: auto; margin-right: auto; width: 78.9%; padding-bottom: 30px; }
.share-buttons form { display: inline-block; }

.shareButton { width: 100px; height: 30px; font-size: 14px; font-size: 0.875rem; }
.shareButton:hover { -webkit-box-shadow: inset 0 0 5px white; -moz-box-shadow: inset 0 0 5px white; box-shadow: inset 0 0 5px white; }

.linkedin { background-color: #336699; -webkit-box-shadow: inset 0 0 2px black; -moz-box-shadow: inset 0 0 2px black; box-shadow: inset 0 0 2px black; }

.twitter { background-color: #0099ff; -webkit-box-shadow: inset 0 0 2px black; -moz-box-shadow: inset 0 0 2px black; box-shadow: inset 0 0 2px black; }

.google { background-color: #ff3333; -webkit-box-shadow: inset 0 0 2px black; -moz-box-shadow: inset 0 0 2px black; box-shadow: inset 0 0 2px black; }

.facebook { background-color: #003399; -webkit-box-shadow: inset 0 0 2px black; -moz-box-shadow: inset 0 0 2px black; box-shadow: inset 0 0 2px black; }

.reddit { background-color: #ff9900; -webkit-box-shadow: inset 0 0 2px black; -moz-box-shadow: inset 0 0 2px black; box-shadow: inset 0 0 2px black; }

.comment { background-color: black; -webkit-box-shadow: inset 0 0 2px black; -moz-box-shadow: inset 0 0 2px black; box-shadow: inset 0 0 2px black; }

.billDetails { padding-top: 20px; }
.billDetails .share-buttons { padding-top: 20px; }

.billMapContainer { -webkit-box-shadow: 0 0 5px black; -moz-box-shadow: 0 0 5px black; box-shadow: 0 0 5px black; width: 100%; position: relative; }
.billMapContainer h3 { margin-bottom: 20px; float: left; width: 32%; text-align: center; }
.billMapContainer .billMap { position: relative; float: right; width: 65%; margin: 20px 0.5% 0 1.5%; max-height: 100%; }
.billMapContainer .billMap img { max-height: 100%; max-width: 100%; }
.billMapContainer .billMap .passRejectSection { right: 5%; position: absolute; bottom: 0; width: 50%; }
.billMapContainer .billMap .passRejectSection .passRejectBar { background: #2976cb; /* Old browsers */ background: -moz-linear-gradient(left, #2976cb 0%, #c20000 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2976cb), color-stop(100%, #c20000)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(left, #2976cb 0%, #c20000 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(left, #2976cb 0%, #c20000 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(left, #2976cb 0%, #c20000 100%); /* IE10+ */ background: linear-gradient(to right, #2976cb 0%, #c20000 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2976cb', endColorstr='#c20000',GradientType=1 ); /* IE6-9 */ right: 5%; color: white; border: 2px solid black; padding: 0px 3px; }
.billMapContainer .billMap .passRejectSection .percentages { font-size: 14px; font-size: 0.875rem; }
.billMapContainer .billMapStatistics { width: 32%; float: right; }
.billMapContainer .billMapStatistics li { color: white; font-weight: bold; text-align: center; padding: 5px; width: 50%; margin: 0 0 5px 20%; cursor: pointer; transition: color 1.7s; transition: background-color .3s; background-color: black; -webkit-box-shadow: inset 0 0 2px black; -moz-box-shadow: inset 0 0 2px black; box-shadow: inset 0 0 2px black; box-shadow: none; }
.billMapContainer .billMapStatistics li:hover { color: black; background-color: white; }
.billMapContainer .billMapStatistics #stateMap { width: 53%; margin: 15px 0 5px 20%; }

/* Trending Comments */
.trendingComments { display: block; margin-left: auto; margin-right: auto; padding-bottom: 30px; }

.trendingCommentsBox { box-shadow: inset 0 0 1px black; transition: box-shadow; }
.trendingCommentsBox .trendingCommentsBoxDesc { height: 230px; position: relative; overflow: hidden; }
.trendingCommentsBox .trendingCommentsBoxDesc:hover { box-shadow: inset 0 0 5px black; cursor: pointer; }
.trendingCommentsBox .trendingCommentsBoxDesc .trendingCommentsBoxText { position: absolute; top: 0; left: 0; }
.trendingCommentsBox .trendingCommentsBoxDesc .trendingCommentsBoxImage { position: absolute; z-index: 2; top: 230px; width: 100%; max-height: 100%; }
.trendingCommentsBox .trendingCommentsBoxDesc .trendingCommentsBoxImage img { max-height: 100%; }
.trendingCommentsBox span { font-size: 12px; font-size: 0.75rem; text-indent: 5px; display: inline-block; padding: 5px; }
.trendingCommentsBox .trendingCommentsBoxUser { font-size: 14px; font-size: 0.875rem; text-align: center; box-shadow: inset 0 0 1px black; width: 100%; display: block; padding: 5px 0; }
.trendingCommentsBox .trendingCommentsBoxUser:hover { cursor: pointer; }

.addComment { box-shadow: inset 0 0 1px black; margin-bottom: 0; }
.addComment textarea { resize: none; height: 230px; text-align: left; width: 100%; margin: 0; padding: 0; border: none; background: transparent; outline: 0px !important; -webkit-appearance: none; }
.addComment .submit { text-align: center; box-shadow: inset 0 0 1px black; width: 100%; display: block; padding: 5px 0; }

/* TOMORROW'S BILL */
.tomorrowsBill .tomorrowsBillBox, .tomorrowsBill .tomorrowsBillParticipateBox { background-color: white; -webkit-box-shadow: 0 0 5px black; -moz-box-shadow: 0 0 5px black; box-shadow: 0 0 5px black; }
.tomorrowsBill .tomorrowsBillTitle h4 { margin: 15px; border-bottom: black solid 1px; padding-bottom: 2px; }
.tomorrowsBill .tomorrowsBillBox p { margin: 15px; }
.tomorrowsBill .tomorrowsBillParticipateBox { transition: box-shadow 0.2s ease-out; moz-transition: box-shadow 0.2s ease-out; o-transition: box-shadow 0.2s ease-out; webkit-transition: box-shadow 0.2s ease-out; }
.tomorrowsBill .tomorrowsBillParticipateBox:hover { -webkit-box-shadow: 0 0 15px black; -moz-box-shadow: 0 0 15px black; box-shadow: 0 0 15px black; cursor: pointer; }
.tomorrowsBill .tomorrowsBillParticipateBox .button { background-color: #2F68D1; color: #FFFFFF; padding-top: 10px; padding-bottom: 10px; text-align: center; width: 120px; position: relative; left: 50%; margin-left: -60px; font-size: 1.2em; }
.tomorrowsBill .tomorrowsBillParticipateBox .tomorrowsBillParticipateTitle { height: 61px; border-bottom: 1px solid black; }
.tomorrowsBill .tomorrowsBillParticipateBox .tomorrowsBillParticipateTitle h4 { font-size: 24px; font-size: 1.5rem; margin: 0; text-align: center; line-height: 61px; }
.tomorrowsBill .tomorrowsBillParticipateBox p { margin: 15px; text-align: center; }

/* FOOTER */
footer { background-color: #e65341; -webkit-box-shadow: 0 0 5px black; -moz-box-shadow: 0 0 5px black; box-shadow: 0 0 5px black; }
footer a { color: black; transition: text-shadow 0.2s ease-out; moz-transition: text-shadow 0.2s ease-out; o-transition: text-shadow 0.2s ease-out; webkit-transition: text-shadow 0.2s ease-out; }
footer a:hover { text-shadow: 0 1px 0 black; cursor: pointer; }
footer p { display: inline-block; margin-left: 5%; margin-right: 5%; font-size: 12px; font-size: 0.75rem; }
footer .slogan { float: right; }

/* VOTE PAGE */
.votePage .voteSearch { width: 100%; }
.votePage .voteSearch .searchBox { width: 100%; height: 200px; position: relative; border-left: 1px solid #2976cb; border-right: 1px solid #c20000; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center; }
.votePage .voteSearch .searchBox:before, .votePage .voteSearch .searchBox:after { content: ""; position: absolute; right: -1px; left: -1px; height: 1px; background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#2976cb), to(#c20000)); background-image: -webkit-linear-gradient(left, #2976cb, #c20000); background-image: -moz-linear-gradient(left, #2976cb, #c20000); background-image: -o-linear-gradient(left, #2976cb, #c20000); }
.votePage .voteSearch .searchBox:before { top: -1px; }
.votePage .voteSearch .searchBox:after { bottom: -1px; }
.votePage .voteSearch input[type="radio"] { display: none; }
.votePage .voteSearch .searchKeywords { text-align: center; display: block; }
.votePage .voteSearch .searchSortBy { display: block; }
.votePage .voteSearch .searchSortBy h4 { display: inline-block; }
.votePage .voteSearch .searchSortBy .button { cursor: pointer; }
.votePage .voteSearch .searchSortBy .button:hover { -webkit-box-shadow: inset 0 0 5px white; -moz-box-shadow: inset 0 0 5px white; box-shadow: inset 0 0 5px white; }
.votePage .voteSearch .searchSortBy .button:active { background-color: #c20000; }
.votePage .voteSearch .button { background-color: #2976cb; color: #FFFFFF; padding: 5px; text-align: center; }
.votePage .bill { width: auto; margin-left: 0; margin-bottom: 20px; border-bottom: 1px solid black; }
.votePage .bill:last-child { border-bottom: none; }
.votePage .bill p { font-size: .95em; text-indent: 20px; }
.votePage .postInfo { margin-bottom: 15px; }
.votePage .voteUserBox { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; }
.votePage .voteUserBox .voteUser { left: auto; }
.votePage .share-buttons { text-align: center; width: auto; }

/* PROPOSAL PAGE */
.proposalPage .introductionDesc { position: relative; }
.proposalPage .introductionDesc .blueButton { position: absolute; bottom: 0; right: 0; }
.proposalPage hr { margin-top: 50px; }

.proposalList { text-align: center; }
.proposalList .proposalListItem { -webkit-box-shadow: 0 0 1px black; -moz-box-shadow: 0 0 1px black; box-shadow: 0 0 1px black; cursor: pointer; }
.proposalList .proposalListItem:hover { -webkit-box-shadow: 0 0 5px black; -moz-box-shadow: 0 0 5px black; box-shadow: 0 0 5px black; }
.proposalList .proposalListItem .blueButton { width: 100%; display: block; clear: both; margin-bottom: 0; }
.proposalList .proposalListTitle { display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; align-items: center; height: 100px; border-bottom: 1px solid black; }
.proposalList .proposalListDetails { font-size: 14px; font-size: 0.875rem; }
.proposalList .proposalListDetails div { width: 33.33333%; float: left; margin: 1% 0; }

.proposalListMore { margin: 30px 0; display: inline-block; }

.proposal1 { position: relative; border-left: 1px solid #2976cb; border-right: 1px solid #c20000; -webkit-box-shadow: 0 0 5px black; -moz-box-shadow: 0 0 5px black; box-shadow: 0 0 5px black; padding: 20px; margin: 0 10px 20px; }
.proposal1:before, .proposal1:after { content: ""; position: absolute; right: -1px; left: -1px; height: 1px; background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#2976cb), to(#c20000)); background-image: -webkit-linear-gradient(left, #2976cb, #c20000); background-image: -moz-linear-gradient(left, #2976cb, #c20000); background-image: -o-linear-gradient(left, #2976cb, #c20000); }
.proposal1:before { top: -1px; }
.proposal1:after { bottom: -1px; }
.proposal1 label { float: left; }
.proposal1 legend { clear: both; }
.proposal1 .indent { margin: 0 20px; }
.proposal1 .medText { font-size: 20px; font-size: 1.25rem; margin: 1em 0; }
.proposal1 fieldset { border: 0; }
.proposal1 fieldset label { float: none; }
.proposal1 span { display: block; overflow: hidden; padding-right: 5px; padding-left: 10px; }
.proposal1 .blueButton { position: absolute; right: 20px; bottom: 10px; }
.proposal1 input[type="text"] { font-size: 20px; font-size: 1.25rem; }
.proposal1 span > input { width: 100%; }
.proposal1 .nofloat { float: none; }
.proposal1 .largeText { font-size: 24px; font-size: 1.5rem; font-weight: bold; }

.proposal3 { position: relative; }
.proposal3 .proposal1 { margin: 0; width: 95%; resize: none; }
.proposal3 .step3 { margin: 0 0 10px; width: 100%; }
.proposal3 .blueButton { float: right; }

.newsPage { text-align: center; margin-bottom: 40px; }
.newsPage .newsItem { height: 250px; position: relative; text-align: center; cursor: pointer; background-size: cover; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; /* IE 6-9 */ }
.newsPage .newsItem:hover { -webkit-filter: grayscale(0%); -moz-filter: grayscale(0%); -ms-filter: grayscale(0%); -o-filter: grayscale(0%); filter: grayscale(0%); filter: color; }
.newsPage .newsItem:after { content: attr(headline); position: absolute; bottom: 0px; display: none; width: 100%; padding: 10px 0; background-color: rgba(0, 0, 0, 0.6); color: white; text-align: center; }
.newsPage .newsItem:hover:after { display: block; }
.newsPage .newsItem a { display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center; align-items: center; }
.newsPage h4 { margin-bottom: .5em; color: #2976cb; }

.newsPage .newsItem { height: 300px; width: 100%; overflow: hidden; }
.newsPage .newsItem img { display: block; }
.newsPage .portrait img { width: 100%; }
.newsPage .landscape img { height: 300px; }
